#menu {
  display: none;
  list-style: none;
}

.active {
  display: block;
}

#menuBtn {
  font-size: 25px;
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
}

#menu li {
  margin: 10px 0;
}

#menu a {
  color: gray;
  text-decoration: none;
}